<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xmlns:context = "http://www.springframework.org/schema/context"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-3.0.xsd">
   
   <bean id="metier"  class="com.test.IMetierImpl"  />
   
   <bean id="OutputHelper" class="com.test.OutputHelper">
		<constructor-arg>
			<ref bean="JsonOutputGenerator" />
		</constructor-arg>
	</bean>
	
	
	<bean id="InputHelper" class="com.test.InputHelper">
		<constructor-arg>
			<ref bean="JsonInputGenerator" />
		</constructor-arg>
	</bean>
 
	<bean id="JsonOutputGenerator" class="com.test.JsonOutputGenerator" />
	
	<bean id="JsonInputGenerator" class="com.test.JsonInputGenerator" />
	
	
	<bean id="OutputHelperSetter" class="com.test.OutputHelperSetter">
		<property name="outputGenerator" ref="CsvOutputGenerator" />
	</bean>
 
	<bean id="CsvOutputGenerator" class="com.test.CsvOutputGenerator" />
	
	
   
   
   </beans>